SGN.Negocio/Connected Services/WS_GESAG_DES/WsGesag3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wsgesag.clgrupoindustrial.com/WsGesag.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GESAP_GPB_Service" />
  <xs:import schemaLocation="http://wsgesag.clgrupoindustrial.com/WsGesag.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="ProbarConexion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProbarConexionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProbarConexionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DameExpedicionesPendientes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoSociedad" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DameExpedicionesPendientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GESAP_GPB_Service" minOccurs="0" name="DameExpedicionesPendientesResult" nillable="true" type="q1:ArrayOfExpedicionesPendientes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DameExpedicionesRetrasadas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoSociedad" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DameExpedicionesRetrasadasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GESAP_GPB_Service" minOccurs="0" name="DameExpedicionesRetrasadasResult" nillable="true" type="q2:ArrayOfExpedicionesRetrasadas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DameDetalleExpediciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumeroExpedicion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdEmpresa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DameDetalleExpedicionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GESAP_GPB_Service" minOccurs="0" name="DameDetalleExpedicionesResult" nillable="true" type="q3:ArrayOfDetalleExpediciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DameDetalleExpedicionesLETRA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumeroExpedicion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdEmpresa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DameDetalleExpedicionesLETRAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GESAP_GPB_Service" minOccurs="0" name="DameDetalleExpedicionesLETRAResult" nillable="true" type="q4:ArrayOfDetalleLetra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DamePrevDemanda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoSociedad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Anio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mes" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="situacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NomFamilia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Retroactivo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DamePrevDemandaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GESAP_GPB_Service" minOccurs="0" name="DamePrevDemandaResult" nillable="true" type="q5:ArrayOfPrevDemanda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DameEstadoExpediciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumeroExpedicion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdEmpresa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DameEstadoExpedicionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GESAP_GPB_Service" minOccurs="0" name="DameEstadoExpedicionesResult" nillable="true" type="q6:ArrayOfEstadoExpedicion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DameMaterialesGGB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoSociedad" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DameMaterialesGGBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GESAP_GPB_Service" minOccurs="0" name="DameMaterialesGGBResult" nillable="true" type="q7:ArrayOfMaterialesGGB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DameMaterialDetalleGGB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoSociedad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodigoArticulo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DameMaterialDetalleGGBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GESAP_GPB_Service" minOccurs="0" name="DameMaterialDetalleGGBResult" nillable="true" type="q8:MaterialesGGB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DameListaMaterialDetalleGGB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoSociedad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ListaCodigosArticulo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DameListaMaterialDetalleGGBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/GESAP_GPB_Service" minOccurs="0" name="DameListaMaterialDetalleGGBResult" nillable="true" type="q9:ArrayOfMaterialesGGB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DameFabPlanficadasGGB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoSociedad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodigoArticulo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DameFabPlanficadasGGBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/GESAP_GPB_Service" minOccurs="0" name="DameFabPlanficadasGGBResult" nillable="true" type="q10:ArrayOfFabricacionesPlanficadasMaterial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DameFamiliMaterialGGB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoSociedad" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DameFamiliMaterialGGBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DameFamiliMaterialGGBResult" nillable="true" type="q11:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DameMatriculas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoSociedad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Matricula" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DameMatriculasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/GESAP_GPB_Service" minOccurs="0" name="DameMatriculasResult" nillable="true" type="q12:ArrayOfDatosMatriculas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardaMatricula">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoSociedad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Expedicion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdAgencia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IDTransportista" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Matricula" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MatRemolque" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FechaEstEntrega" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FechaEstRecogida" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numauto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardaMatriculaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardaMatriculaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarMatricula">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoSociedad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Expedicion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarMatriculaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BorrarMatriculaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetalleSituacionPrevDemanda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoSociedad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodigoArticulo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="situacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Anio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mes" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetalleSituacionPrevDemandaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/GESAP_GPB_Service" minOccurs="0" name="DetalleSituacionPrevDemandaResult" nillable="true" type="q13:ArrayOfDetalleSituacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DameMaterialPendienteCargaGGB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoSociedad" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DameMaterialPendienteCargaGGBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/GESAP_GPB_Service" minOccurs="0" name="DameMaterialPendienteCargaGGBResult" nillable="true" type="q14:ArrayOfMaterialPendienteCarga" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DameTransportistas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoSociedad" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DameTransportistasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/GESAP_GPB_Service" minOccurs="0" name="DameTransportistasResult" nillable="true" type="q15:ArrayOfDetalleTransportista" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardaTransportista">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoSociedad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Poblacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodPostal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nif" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardaTransportistaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardaTransportistaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DameConsultaGenericaGESAC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoSociedad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idQuery" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DameConsultaGenericaGESACResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DameConsultaGenericaGESACResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardaPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoSociedad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Emp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Cli" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Dirección" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Poblacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Provincia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Cif" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Cp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Rut" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Repre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Tippag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Codpag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Forpag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Porton" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Dia1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Dia2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Dia3" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Bruto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Base" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Com" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Totpp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Totgf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Totiva" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Portes" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Imp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Totkil" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Gf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardaPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardaPedidoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>